<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31" >
        <activity
            android:name=".controller.MapActivity"
            android:exported="false"
            android:label="Positionner votre rucher"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".controller.AddApiarieActivity">
        </activity>
        <activity
            android:name=".controller.ApiarieDetailsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.SubscriptionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.ProfileActivity"
            android:exported="false"
            android:label="@string/account"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".controller.AddApiarieActivity"
            android:exported="false"
            android:label="Ajouter un rucher"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".controller.AddBeehiveActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>

</manifest>